# Terraform local state
*.tfstate
*.tfstate.backup

# Terraform crash logs
crash.log

# Local-only directories
.terraform/
.terraform.lock.hcl
backed/.terraform/
Management/.terraform/
Management/Stage1/.terraform/
Management/Stage2/.terraform/
backend/.terraform/
Dev/.terraform/
Prod/.terraform/
Prod/Stage1/.terraform/
Prod/Stage2/.terraform/
Network/.terraform/
Network/Stage1/.terraform/
Network/Stage2/.terraform/
Security/.terraform/
Security/Stage1/.terraform/
Security/Stage2/.terraform/

# Sensitive files (optional)
*.tfvars
*.tfvars.json

# Ignore override files (local changes)
override.tf
override.tf.json
*_override.tf
*_override.tf.json
